<div class="mx-auto overflow-hidden mt-10 shadow-lg mb-2 bg-[#000000] border rounded-lg lg:w-2/6 md:w-3/6 sm:w-4/6">
  <div>
    <div class="pt-16 p-5 pb-0 text-white text-right text-3xl bg-[#000000]" id="display">{{display || 0}}</div>
    <div class="flex items-stretch bg-[#000000] h-24">
      <div class="flex-1 px-2 py-2 justify-center flex items-center text-white text-2xl font-semibold">
        <button
          class="rounded-full h-20 w-20 flex items-center bg-gray-800 justify-center shadow-lg hover:border-gray-500 focus:outline-none"
          (click)="clear()">
          AC
        </button>
      </div>
      <div class="flex-1 px-2 py-2 justify-center flex items-center text-white text-2xl font-semibold">
        <button
          class="rounded-full h-20 w-20 flex items-center bg-gray-800 justify-center shadow-lg hover:border-gray-500 focus:outline-none"
          (click)="squareRoot()">
          √
        </button>
      </div>

      <div class="flex-1 px-2 py-2 justify-center flex items-center text-white text-2xl font-semibold">
        <button
          class="rounded-full h-20 w-20 flex items-center bg-[#505050] justify-center shadow-lg hover:border-gray-500 focus:outline-none"
          value="%" (click)="updateCal($event)">
          %
        </button>
      </div>


      <div class="flex-1 px-2 py-2 justify-center flex items-center text-white text-2xl font-semibold">
        <button
          class="rounded-full h-20 w-20 flex items-center bg-orange-500 justify-center shadow-lg hover:border-gray-500 focus:outline-none"
          value="/" (click)="updateCal($event)">
          ÷
        </button>
      </div>
    </div>

    <div class="flex items-stretch bg-[#000000] h-24">
      <div class="flex-1 px-2 py-2 justify-center flex items-center text-white text-2xl font-semibold">
        <button
          class="rounded-full h-20 w-20 flex items-center bg-gray-800 justify-center shadow-lg hover:border-gray-500 focus:outline-none"
          value="7" (click)="updateCal($event)">
          7
        </button>
      </div>

      <div class="flex-1 px-2 py-2 justify-center flex items-center text-white text-2xl font-semibold">
        <button
          class="rounded-full h-20 w-20 flex items-center bg-gray-800 justify-center shadow-lg hover:border-gray-500 focus:outline-none"
          value="8" (click)="updateCal($event)">
          8
        </button>
      </div>

      <div class="flex-1 px-2 py-2 justify-center flex items-center text-white text-2xl font-semibold">
        <button
          class="rounded-full h-20 w-20 flex items-center bg-gray-800 justify-center shadow-lg hover:border-gray-500 focus:outline-none"
          value="9" (click)="updateCal($event)">
          9
        </button>
      </div>

      <div class="flex-1 px-2 py-2 justify-center flex items-center text-white text-2xl font-semibold">
        <button
          class="rounded-full h-20 w-20 flex items-center bg-orange-500 justify-center shadow-lg hover:border-gray-500 focus:outline-none"
          value="*" (click)="updateCal($event)">
          ×
        </button>
      </div>
    </div>

    <div class="flex items-stretch bg-[#000000] h-24">
      <div class="flex-1 px-2 py-2 justify-center flex items-center text-white text-2xl font-semibold">
        <button
          class="rounded-full h-20 w-20 flex items-center bg-gray-800 justify-center shadow-lg hover:border-gray-500 focus:outline-none"
          value="4" (click)="updateCal($event)">
          4
        </button>
      </div>

      <div class="flex-1 px-2 py-2 justify-center flex items-center text-white text-2xl font-semibold">
        <button
          class="rounded-full h-20 w-20 flex items-center bg-gray-800 justify-center shadow-lg hover:border-gray-500 focus:outline-none"
          value="5" (click)="updateCal($event)">
          5
        </button>
      </div>

      <div class="flex-1 px-2 py-2 justify-center flex items-center text-white text-2xl font-semibold">
        <button
          class="rounded-full h-20 w-20 flex items-center bg-gray-800 justify-center shadow-lg hover:border-gray-500 focus:outline-none"
          value="6" (click)="updateCal($event)">
          6
        </button>
      </div>

      <div class="flex-1 px-2 py-2 justify-center flex items-center text-white text-2xl font-semibold">
        <button
          class="rounded-full h-20 w-20 flex items-center bg-orange-500 justify-center shadow-lg hover:border-gray-500 focus:outline-none"
          value="-" (click)="updateCal($event)">
          -
        </button>
      </div>
    </div>

    <div class="flex items-stretch bg-[#000000] h-24">
      <div class="flex-1 px-2 py-2 justify-center flex items-center text-white text-2xl font-semibold">
        <button
          class="rounded-full h-20 w-20 flex items-center bg-gray-800 justify-center shadow-lg hover:border-gray-500 focus:outline-none"
          value="1" (click)="updateCal($event)">
          1
        </button>
      </div>

      <div class="flex-1 px-2 py-2 justify-center flex items-center text-white text-2xl font-semibold">
        <button
          class="rounded-full h-20 w-20 flex items-center bg-gray-800 justify-center shadow-lg hover:border-gray-500 focus:outline-none"
          value="2" (click)="updateCal($event)">
          2
        </button>
      </div>

      <div class="flex-1 px-2 py-2 justify-center flex items-center text-white text-2xl font-semibold">
        <button
          class="rounded-full h-20 w-20 flex items-center bg-gray-800 justify-center shadow-lg hover:border-gray-500 focus:outline-none"
          value="3" (click)="updateCal($event)">
          3
        </button>
      </div>

      <div class="flex-1 px-2 py-2 justify-center flex items-center text-white text-2xl font-semibold">
        <button
          class="rounded-full h-20 w-20 flex items-center bg-orange-500 justify-center shadow-lg hover:border-gray-500 focus:outline-none"
          value="+" (click)="updateCal($event)">
          +
        </button>
      </div>
    </div>


    <div class="flex items-stretch bg-[#000000] h-24 mb-4">


      <div class="flex-1 px-2 py-2 justify-center flex items-center text-white text-2xl font-semibold">
        <button
          class="rounded-full h-20 w-20 flex items-center bg-gray-800 justify-center shadow-lg hover:border-gray-500 focus:outline-none"
          value="0" (click)="updateCal($event)">
          0
        </button>
      </div>

      <div class="flex-1 px-2 py-2 justify-center flex items-center text-white text-2xl font-semibold">
        <button
          class="rounded-full h-20 w-20 flex items-center bg-gray-800 justify-center shadow-lg hover:border-gray-500 focus:outline-none"
          value="." (click)="updateCal($event)">
          .
        </button>
      </div>

      <div class="flex-1 px-2 py-2 justify-center flex items-center text-white text-2xl font-semibold">
        <button
          class="rounded-full h-20 w-20 flex items-center bg-orange-500 justify-center shadow-lg hover:border-gray-500 focus:outline-none"
          (click)="results()">
          =
        </button>
      </div>
    </div>
  </div>
